<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Average</th>
  </tr>
  </thead>

  <tbody>
  <% datas.each do |data| %>
      <tr>
        <td><%= link_to data.name, data %></td>
        <td><%= data.round data.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>