<h2>List of ratings</h2>

<p>Number of ratings: <%=@ratings.count%></p>


<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating if rating.beer %> <%= link_to rating.user.username, rating.user if rating.user%> </li>
  <% end %>
</ul>

<%= link_to 'new rating', new_rating_path %>