<h2>List of ratings</h2>

<p>Number of ratings: <%=@ratings.count%></p>


<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating if rating.beer %> <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>

<%= link_to 'new rating', new_rating_path %>